<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <% if @product.primary_image.attached? %>
      <%= image_tag @product.primary_image %>
    <%end%>
    <h1>
      <%= @product.title %>
    </h1>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Stock:</strong>
      <%= @product.stock %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @product.status %>
    </p>

    <p>
      <strong>Category:</strong>
      <% @product.categories.each do |category| %>
        <span href="#" class="badge badge-primary"><%= category.name %></span>
      <% end %>
    </p>

    <p>
      <strong>Supporting images:</strong>
      <% if @product.supporting_images.attached? %>
        <% @product.supporting_images.each do |image| %>
          <%= image_tag image, width: "100px", height: "100px" %>
        <% end %>
      <%end%>
    </p>

    <%= link_to 'Edit', edit_admins_product_path(@product) %> |
    <%= link_to 'Back', admins_products_path %>
  </div>
</div>